.container-fluid{
    background-color: #a9aae5 !important;
}
#navbarSupportedContent{
    margin: 10 0 0 0;
}
#course-list{
    margin: 10px 0 0 10px;
}
#multiCollapse{
    padding-top: 10px;
}
body {
    width: auto;
    /* height: auto;*/
    font-family: "Nato Sans";
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    -webkit-animation: gradient 15s ease infinite;
    animation: gradient 15e ease infinite;
    height: 100vh;
  }