@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');

/* Sidemenu */

.sidemenu-bar {
    padding: 20px 0;
    background: #216fff;
    position: fixed;
    height: 100%;
    width: 15vw;
    top: 0;
    left: 0;
    font-weight: 400;
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between; */
    z-index: 101;
}

.sidemenu-close {
    display: none;
}

.sidemenu-bar-title {
    font-size: 1.2rem;
    font-weight: 700;
    text-transform: uppercase;
    padding: 10px;
    text-align: center;
    color: #fff;
    margin-bottom: 150px;
}

.sidemenu-bar-list {
    padding-left: 20px;
    width: 100%;
}

.sidemenu-bar-items {
    color: #fff;
    list-style: none;
    cursor: pointer;
    margin-bottom: 10px;
    text-align: center;
    font-weight: 400;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    transition: all .2s ease;
    padding: 10px 15px;
    border-radius: 10px 0 0 10px;
}

.sidemenu-bar-items>span {
    margin-right: 4px;
}

.sidemenu-bar-items:hover {
    background: #fff;
    color: #216fff;
}

/* Main */

.main {
    width: 85vw;
    position: absolute;
    right: 0;
}

.spacing {
    margin: 50px 60px;
}

/* Navbar */

nav {
    width: 85vw;
    position: absolute;
    right: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* width: 100% !important; */
    background: #fff;
    margin: 0px auto;
    padding: 30px 120px;
    box-shadow: 0 0 20px rgb(212, 212, 212);
    z-index: 100;
}

.title-nav {
    display: none;
}

.menu-nav-bar {
    display: none;
}

.search-bar {
    position: relative;
}

.search-bar-input {
    outline: none;
    border: none;
    border-bottom: 1px solid rgb(212, 212, 212);
    width: 400px;
}

.search-bar-placeholder {
    font-size: 0.9rem;
    cursor: text;
}

.search-bar-input:focus+.search-bar-submit {
    color: rgb(59, 59, 59);
    transform: translate(0, -20px);
    font-size: 0.7rem;
}

.search-bar-submit,
.search-bar-submit:hover,
.search-bar-submit:focus {
    transition: all .2s ease;
    background: none;
    box-shadow: none;
    outline: none;
    border: none;
    color: rgb(136, 136, 136);
    position: absolute;
    left: 0;

}

.nav-left-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-left-flex>* {
    margin: 0 10px;
    color: rgb(128, 128, 128);
    cursor: pointer;
}

/* Featured */

.featured {
    margin-bottom: 20px;
}

.featured-title {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1.5rem;
    color: rgb(80, 80, 80);
    letter-spacing: 0.5px;
    margin-bottom: 20px;
}

.featured-card {
    transform: scale(0.95);
    padding: 30px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0px 4px rgb(190, 190, 190);
    cursor: default;
    transition: all .2s ease;
    margin-bottom: 15px;
}

.featured-card>*:not(:last-child) {
    margin-bottom: 20px;
}

.featured-card:hover {
    transform: scale(1.01) translate(0, -10px);
    color: #fff;
    background: #219bff;
}

.featured-card:hover .card-icon>* {
    color: #fff;
}

.featured-card:hover .card-button {
    color: #219bff;
    background: #fff;
}

.card-icon-title {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 20px;
}

.card-title {
    text-align: right;
}

.card-title>* {
    text-transform: uppercase;
}

.card-icon {
    transform: scale(1.2);
}

.card-icon>* {
    font-size: 0.8rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    color: #216fff;
    border-radius: 3px;
}

.card-price-button {
    display: flex;
    justify-content: space-between;
}

.card-price {
    text-transform: uppercase;
}

.card-button {
    padding: 2px 10px;
    color: #fff;
    transition: all .2s ease;
    background: #216fff;
    text-decoration: none;
    cursor: pointer;
    border-radius: 4px;
}

/* All Course */

.Collapsible {
    margin-bottom: 20px;
}

.collapse-main > span, .is-open {
    font-size: 1.1rem;
    width: 88% !important;
    display: block;
    padding: 20px 40px;
    transition: all .2s ease;
    text-transform: uppercase;
    background: #fff;
    margin: 0 auto;
    border-top: 1px solid rgb(177, 177, 177);
    border-left: 1px solid rgb(177, 177, 177);
    border-right: 1px solid rgb(177, 177, 177);
    border-radius: 20px 20px 0 0;
    z-index: 2;
    overflow: hidden;
    box-shadow: 0 0 10px rrgb(177, 177, 177);
}

.collapse-main > span:hover,
.collapse-main > span, .is-open {
    background: #219bff;
    color: #fff;
}

.Collapsible__contentOuter {
    background: #fff;
    width: 88%;
    margin: 0 auto;
}

.Collapsible__contentInner {
    padding: 20px 40px;
}

/* Media Queries */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 540px) {
    .spacing {
        margin: 50px 10px;
    }

    nav {
        padding: 30px 10px !important;
    }

    /* .search-bar-input {
        width: 100px;
    } */
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 780px) {
    .hide-item {
        display: none;
    }

    .nav-left-flex > * {
        margin: 0 5px;
    }

    .search-bar-input {
        width: 200px;
    }

    .Collapsible__contentInner {
        padding: 20px 20px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 1130px) {
    .featured-title-resp {
        margin-top: 20px !important;
    }

    .sidemenu-bar-list {
        padding: 0 20px;
    }

    .sidemenu-bar-items {
        justify-content: center;
        border-radius: 10px;
    }

    .sidemenu-bar {
        z-index: 100;
        width: 100vw;
    }

    .sidemenu-close {
        color: #fff;
        position: absolute;
        top: 10px;
        right: 20px;
        font-size: 1.35rem;
        cursor: pointer;
        display: inline-block;
        text-align: right;
    }

    .active {
        display: block;
    }

    .inactive {
        display: none;
    }

    .main {
        width: 100vw;
        margin-top: 10vh;
    }

    .maxwidthcards {
        max-width: 100% !important;
    }

    .menu-nav-bar {
        display: block;
        cursor: pointer;
    }  

    nav {
        padding: 20px 30px;
        width: 100vw;
        box-shadow: 0 2px 20px rgb(212, 212, 212);
    }

    .title-nav {
        color: #fff;
        background: #216fff;
        text-align: center;
        z-index: 1000000;
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (max-width: 1430px) {
    .sidemenu-bar-title {
        font-size: 1rem;
        padding-top: 40px;
    }

    .sidemenu-bar-items {
        margin-bottom: 8px;
    }

    .sidemenu-bar-items > * {
        font-size: 1rem !important;
    }
}