@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #F0F0FF;
}

* {
  font-family: 'Roboto Condensed';
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



ul,
ol,
li {
  padding: 0;
}

.close-search-btn {
  margin: 0 0 0 10px;
  padding: 2px 5px;
  font-size: 15px;
}

.row {
  width: 96% !important;
}

.container {
  margin-left: 0.8rem !important;
}

span.material-symbols-outlined:hover {
  color: #216fff;
}

@media only screen and (max-width: 540px) {
.search-bar-input {
    width: 250px !important;
    margin-left: 1.4rem !important;
}

.menu-nav-bar  {
 margin-top: 1rem;
 margin-left: 0.5rem;
}

.search-bar-submit, .search-bar-submit:hover, .search-bar-submit:focus {
  height: 2.2rem;
  margin-top: 7px;
  padding: 1px 15px !important;
}
}

.collapse-main > span, .is-open {
  font-size: 1.1rem;
  width: 88% !important;
  display: block;
  padding: 20px 40px;
  transition: all 0.2s ease;
  text-transform: uppercase;
  margin: 0 auto;
  border: 1px solid rgb(177, 177, 177) !important;
  border-radius: 20px !important;
  z-index: 2;
  overflow: hidden;
  background: white !important;
}

.collapse-main > span, .is-open {
  border: 1px solid #219bff !important;
  color: #1d77c0 !important;
  background-color: none !important;
}

.collapse-main > span:hover{
  background-color: #219bff !important;
  color: white !important;
}

.card-icon-title {
  display: flex;
  justify-content: left !important;
  align-items: flex-end;
  margin-bottom: 20px;
}

.card-title {
  margin-left: 1rem !important;
}

.sidemenu-bar-items {
  margin-right: 1.5rem !important;
}

.sidemenu-bar-items:hover {
  background: #fff;
  color: #216fff;
  border-radius: 0.7rem;

}