@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #F0F0FF;
}

* {
  font-family: 'Roboto Condensed';
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



ul,
ol,
li {
  padding: 0;
}

.close-search-btn {
  margin: 0 0 0 10px;
  padding: 2px 5px;
  font-size: 15px;
}

.row {
  width: 96% !important;
}

.container {
  margin-left: 0.8rem !important;
}
@media only screen and (max-width: 540px) {
.search-bar-input {
    width: 250px !important;
    margin-left: 1.4rem !important;
}
.menu-nav-bar  {
 margin-top: 1rem;
 margin-left: 0.5rem;
}
.search-bar-submit, .search-bar-submit:hover, .search-bar-submit:focus {
  height: 2.2rem;
  margin-top: 7px;
  padding: 1px 15px !important;
}
}